.accordion {
    border: solid;
    border-radius: 4px;
    border-width: 1px;
}

.accordion-button {
    background-color: white;
    padding: 2rem;
    border-radius: 4px;
    border-width: 1px;
}

.accordion-button:active, 
.accordion-button:focus, 
.accordion-button:hover,
.accordion-button:not(.collapsed):hover {
    background-color: #E9F4F9;
}

.accordion-button:visited, 
.accordion-button:not(.collapsed),
.accordion-button.collapsed:visited {
    background-color: white;
}

.task:last-child {
    padding-bottom: 2rem;
}

.accordion-header:not(:has(+ .accordion-collapse)) .accordion-button::after {
    display: none;
}