.accordion {
    border: solid;
    border-radius: 4px;
    border-width: 1px;
}

/* Generic Accordion colors */

.accordion-button {
    background-color: #F4F4F4;
    padding: 2rem;
    border-radius: 4px;
    border-width: 1px;
}

.accordion-button:active, 
.accordion-button:focus, 
.accordion-button:hover,
.accordion-button:not(.collapsed):hover {
    background-color: white;
}

.accordion-button:visited, 
.accordion-button:not(.collapsed),
.accordion-button.collapsed:visited {
    background-color: #F4F4F4;
}

/* Health Accordion colors */

.primarily-health .accordion-button {

    background-color: #F9E4D9;
}

.primarily-health .accordion-button:active, 
.primarily-health .accordion-button:focus, 
.primarily-health .accordion-button:hover,
.primarily-health .accordion-button:not(.collapsed):hover {
    background-color: #F9F4E9;
}

.accordion-button:visited, 
.accordion-button:not(.collapsed),
.accordion-button.collapsed:visited {
    background-color: #F9E4D9;
}

/* Spirit Accordion colors */

.primarily-spirit .accordion-button {
    background-color: #D9F4F9;
}

.primarily-spirit .accordion-button:active,
.primarily-spirit .accordion-button:focus,
.primarily-spirit .accordion-button:hover,
.primarily-spirit .accordion-button:not(.collapsed):hover {
    background-color: #E9F4F9;
}

.primarily-spirit .accordion-button:visited,
.primarily-spirit .accordion-button:not(.collapsed),
.primarily-spirit .accordion-button.collapsed:visited {
    background-color: #D9F4F9;
}

.task:last-child {
    padding-bottom: 2rem;
}

.accordion-header:not(:has(+ .accordion-collapse)) .accordion-button::after {
    display: none;
}