#root {
  background-color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.taskColumn > h2 {
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #f16044;
  color: #ffffff;
}

.btn-secondary {
  background-color: #06bee1;
  color: #ffffff;
}

.chairman-dao {
  background-color: #ffeedb;
}

.tasks {
  height: 100vh;
}
